body {
    background-color: black;
}


h1 {
    color: royalblue;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    color: red;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    color: green;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
    color: royalblue;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

li {
    color: red;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}